@use 'sass:math'
@import "functions"


$defaultTransitionDuration: .3s

$maxContentWidth: 1440px
$contentPaddings: 25px
$contentMobilePaddings: 15px

$stepNumber: 30

$step: rem($stepNumber)
$halfStep: rem(math.div($stepNumber, 2))

$mobileResponse: 600px

$mobileNumber: 480
$mobile: $mobileNumber + px
$tablet: 800px

$lastResponsePointNumber: 375
$lastResponsePoint: $lastResponsePointNumber + px

$sizeForWeakEyes: 24


$headerFirstResponseNumber: 1000
$headerFirstResponse: $headerFirstResponseNumber + px
$headerFirstThemeResponse: 1300px
$headerSecondResponse: 650px

$sidebarResponseNumber: 900
$sidebarResponse: $sidebarResponseNumber + px

$gridX2ResponseNumber: 900
$gridX2Response: $gridX2ResponseNumber + px

$increaseBannerImagesResponse: 450px