@use 'sass:math'
@import "functions"


$defaultTransitionDuration: .3s

$stepNumber: 30

$step: rem($stepNumber)
$halfStep: rem(math.div($stepNumber, 2))

$mobileResponse: 600px

$mobileNumber: 480
$mobile: $mobileNumber + px
$tablet: 800px

$sizeForWeakEyes: 24