include aside

mixin asideForAbout(activeIndex)
    +aside([{text: 'О нас', link: 'about.html'}, {text: 'Наш коллектив', link: 'collective.html'}, {text: 'Наши галереи', link: '#'}, {text: 'Наши видео', link: '#'}, {text: 'Наши достижения', link: '#'}, {text: 'Наши реквизиты', link: '#'}], activeIndex)
