include aside

mixin asideForAbout(activeIndex)
    +aside([{text: 'О нас', link: 'about.html'}, {text: 'Наш коллектив', link: 'collective.html'}, {text: 'Наши галереи', link: 'galleries.html'}, {text: 'Наши видео', link: 'ourVideos.html'}, {text: 'Наши достижения', link: 'achievements.html'}, {text: 'Наши реквизиты', link: 'requisites.html'}], activeIndex, 'smallSidebar')
