mixin aside(data, activeIndex= 0, className= '')
    aside.sidebar(class= className)
        nav.sidebar__links.swiper
            .swiper-wrapper
                each item, index in data
                    div.sidebar__item.swiper-slide(class= activeIndex === index ? 'active': '')
                        a.sidebar__itemContent(href= item.link)= item.text
