include aside

mixin asideForParents(activeIndex)
    +aside([{text: 'Порядок приема в детсад', link: 'order.html'}, {text: 'Компенсация оплаты за сад', link: 'compensation.html'}, {text: 'Бланки заявлений', link: 'galleries.html'}, {text: 'Частые вопросы', link: 'ourVideos.html'}, {text: 'Советы специалистов', link: 'achievements.html'}, {text: 'Школы рядом с садиком', link: 'requisites.html'}], activeIndex)
