@use 'sass:math'

@import '../assets/functions'
@import '../assets/mixins'
@import '../assets/vars'


$headerContactThemeReverse: 850px


$responseRestBlockForWeakEyes: 680px


@mixin firstResponseMainBlock($var)
  @media screen and (max-width: $var)
    justify-content: space-between
    width: 100%

@mixin firstResponseContentBlock($var)
  @media screen and (max-width: $var)
    &:before, &:after
      left: 0
      width: 100%

@mixin firstResponseContactBlocks($var)
  @media screen and (max-width: $var)
    justify-content: center
    margin: rem(12) 0 0 0
    flex-shrink: 1


html.theme-visually-impaired
  .header

    &__rest
      @media screen and (max-width: $responseRestBlockForWeakEyes)
        flex-direction: column
        text-align: center
        gap: rem(5)

    &__content
      @include firstResponseContentBlock($headerFirstThemeResponse)

    &__mainBlock
      @include firstResponseMainBlock($headerFirstThemeResponse)

    &__contacts
      @include firstResponseContactBlocks($headerFirstThemeResponse)

      @media screen and (max-width: $headerContactThemeReverse)
        flex-direction: column
        gap: 15px
        text-align: center

    &__telContainer
      .pairWords
        @media screen and (max-width: $headerContactThemeReverse)
          justify-content: center

    &__menu
      @media screen and (max-width: $headerFirstResponse)
        margin: 0 0 0 rem(30)
        gap: rem(10)

.header
  font-size: 1rem

  &__linkWithSublist
    position: relative

    &:hover
      .header__sublistWrapper
        opacity: 1
        pointer-events: initial

  &__sublistWrapper
    @include useAbsolutePosition(50%, 100%)
    transform: translateX(-50%)
    padding-top: em(10, 16)
    z-index: 100
    transition: $defaultTransitionDuration opacity
    opacity: 0
    pointer-events: none
    max-width: 300px
    min-width: em(220, 16)

  &__sublist
    background: #fff
    padding: 1em
    gap: em(10, 16)
    box-shadow: 0 em(8.15707, 16) em(43.5044, 16) rgba(0, 0, 0, 0.07), 0 em(1.82199, 16) em(9.71727, 16) rgba(0, 0, 0, 0.0417275), 0 em(0.542454, 16) em(2.89309, 16) rgba(0, 0, 0, 0.0282725)
    //
    //.link
    //  font-size: em(14, 16)

  &__rest
    display: flex
    justify-content: space-between
    padding: .5em 0 em(5, 16)
    align-items: center
    flex-wrap: wrap
    text-align: center
    gap: .5em

    @media screen and (max-width: $mobile)
      flex-direction: column
      align-items: center

    .weakText
      font-size: em(12, 16)
      letter-spacing: em(-0.2, 12)

  &__content
    padding: 1em 0
    display: flex
    align-items: center
    justify-content: space-between
    position: relative
    min-width: max-content

    @media screen and (max-width: $headerSecondResponse)
      padding: em(12.5, 16) 0

    @include createLineBorder('both')
    @include firstResponseContentBlock($headerFirstResponse)


  &__mainBlock
    display: flex
    align-items: center
    @include firstResponseMainBlock($headerFirstResponse)

  &__menu
    margin: 0 16px 0 30px
    display: flex
    align-items: center
    gap: 20px

    & > ul
      display: flex
      gap: rem(20)

      @media screen and (max-width: $headerFirstResponse)
        gap: rem(10)

      li
        white-space: nowrap


    @media screen and (max-width: $headerFirstResponse)
      margin: 0 0 0 rem(145)
      gap: rem(10)

    @media screen and (max-width: $mobile)
      margin: 0 0 0 vw(100, $mobileNumber)

  &__contacts
    display: flex
    gap: rem(20)
    align-items: center
    flex-shrink: 0
    margin-left: 1rem
    @include firstResponseContactBlocks($headerFirstResponse)

    @media screen and (max-width: $headerSecondResponse)
      font-size: rem(14)

      .socials
        display: none

  &__telContainer

    .weakText
      letter-spacing: em(-0.4, 16)

    @media screen and (max-width: $headerSecondResponse)
      .pairWords
        display: none

  &__tel
    transition: $defaultTransitionDuration all
    @include setFonts(20, var(--textColor), lh(26, 20), -0.4)

    &:hover
      color: var(--textHoverColor)


  &__burgerMenu
    padding: rem(10)
    display: flex
    align-items: center
    background: var(--greyBackground)
    border-radius: rem(5)
    cursor: pointer
    position: relative

    @media screen and (max-width: $mobile)
      font-size: 1.2rem

    & > .link
      line-height: 1

      @media screen and (max-width: $headerSecondResponse)
        display: none

    &:hover

      & > .link
        color: var(--textHoverColor)

      .header__burger

        &:before, span, &:after
          background: var(--textHoverColor)

    &.active .header__burger

      span
        transform: scaleX(0)

      &:before
        top: 50%
        transform: translateY(-50%) rotate(45deg)

        @media screen and (max-width: $headerSecondResponse)
          transform: translate(-50%, -50%) rotate(45deg)

      &:after
        transform: translateY(-50%) rotate(-45deg)

        @media screen and (max-width: $headerSecondResponse)
          transform: translate(-50%, -50%) rotate(-45deg)

  &__burger
    margin-right: 8px
    width: em(18, 16)
    height: em(18, 16)
    position: relative

    @media screen and (max-width: $headerSecondResponse)
      margin-right: 0

    &:before, &:after, span
      height: 2px
      background: #000
      position: absolute
      transition: $defaultTransitionDuration all

    span
      bottom: em(2.25, 16)
      width: em(8.25, 16)
      transform-origin: left center

      @media screen and (max-width: $headerSecondResponse)
        left: .15em

    &:before, &:after
      width: em(13.5, 16)
      content: ''

    &:before
      top: em(2.25, 16)

      @media screen and (max-width: $headerSecondResponse)
        left: 50%
        transform: translateX(-50%)

    &:after
      top: 50%
      transform: translateY(-50%)

      @media screen and (max-width: $headerSecondResponse)
        left: 50%
        transform: translate(-50%, -50%)

  &__burgerList
    position: absolute
    left: 0
    top: 100%
    height: 360px
    padding: 10px
    z-index: 100
    @include useShadow()
    transition: $defaultTransitionDuration all
    transform-origin: center center
    transform: scaleY(0)
    background: var(--greyBackground)
    border-radius: rem(5)
    width: 100%
    display: flex
    flex-wrap: wrap
    overflow: auto
    gap: em(30, 16) em(24, 16)

    .header__sublistWrapper
      position: static
      transform: none
      opacity: 1
      padding: 0
      pointer-events: initial

    .header__sublist
      background: transparent
      box-shadow: none
      padding: 0 0 0 1em

    &.active
      transform: scaleY(1)

    li .link
      padding: rem(10)
      display: flex
      width: 100%
      cursor: pointer



#header-container

  &.fixed
    padding: 0

    @media screen and (max-width: $maxContentWidth)
      padding: 0 $contentPaddings

    .header__rest
      display: none

    .header__content
      max-width: $maxContentWidth
      padding-left: $contentPaddings
      padding-right: $contentPaddings
      margin: 0 auto

      @media screen and (max-width: $maxContentWidth)
        padding-left: 0
        padding-right: 0

    position: fixed
    top: 0
    left: 0
    max-width: 100%
    width: 100%
    transition: $defaultTransitionDuration all
    background: #ffffff
    z-index: 110
    border-bottom: 2px solid var(--staticBorderColor)

    &.hide
      transform: translateY(-100%)

    @media screen and (max-width: $headerFirstResponse)
      padding-bottom: em(15, 16)
