include ../../../components/titles/h2WithIcon
include ../../../components/UI/whiteButton
include ../../../components/UI/slideButtons
include ../../../components/sliders/achievements

section
    .container
        +h2WithIcon('@img/achievements.svg', 'Наши достижения')
        +achievements()
        +whiteButton('Смотреть все достижения', 'w-100 mt-step', 'achievements.html')
