include ../../../components/titles/h2WithIcon


section
    .container
        +h2WithIcon("@img/compas.svg", 'Наши ориентиры')
        .features
            .features__item(style="background-image: url(@img/temporary/features-1.png)")
                .features__text(data-width-content='true')
                    span Сохраняем детство <br> и улыбки
            .features__item(style="background-image: url(@img/temporary/features-2.png)")
                .features__text(data-width-content='true')
                    span Делаем все <br> для развития детей
            .features__item(style="background-image: url(@img/temporary/features-3.png)")
                .features__text(data-width-content='true')
                    span Учим познавать окружающий мир
            .features__item(style="background-image: url(@img/temporary/features-4.png)")
                .features__text(data-width-content='true')
                    span Формируем практические навыки

