include ../../../components/titles/h2WithIcon
include ../../../components/UI/whiteButton
include ../../../components/news


section
    .container
        +h2WithIcon("@img/news.svg", 'Наши новости')
        .news
            +news()
        +whiteButton('Смотреть все новости', 'mt-step w-100', 'news.html')
