include ../../../components/titles/h2WithIcon
include ../../../components/UI/whiteButton
include ../../../components/ourVideos

-
    var data = [
        {img: '@img/temporary/video-1.png', text: 'Название активного видео'},
        {img: '@img/temporary/video-2.png', text: 'Длинное длинное длинное название видео'},
        {img: '@img/temporary/video-3.png', text: 'Название видео'},
        {img: '@img/temporary/video-4.png', text: 'Длинное длинное длинное название видео'},
    ];

section
    .container
        +h2WithIcon('@img/video.svg', 'Наши видео')
        .ourVideos
            +ourVideos()
        +whiteButton('Смотреть все видео', 'w-100 mt-step')