.pagination
    a.pagination__item.pagination__arrow.pagination__arrow--prev.pagination__arrow--disabled(href="#")
        svg.arrow-icon
            use(href="@img/icons/icons.svg#arrow-select")
    a.pagination__item.pagination__item--current(href="#") 1
    a.pagination__item(href="#") 2
    a.pagination__item(href="#") ...
    a.pagination__item(href="#") 9
    a.pagination__item(href="#") 10
    a.pagination__item.pagination__arrow.pagination__arrow--next(href="#")
        svg.arrow-icon
            use(href="@img/icons/icons.svg#arrow-select")
