include ../../../components/titles/h2WithIcon
include ../../../components/UI/usualButton
include ../../../components/UI/whiteButton
include ../../../components/questions

section
    .container
        +h2WithIcon('@img/question.svg', 'Частые вопросы')
        +questions()
        +whiteButton('Смотреть все вопросы', 'w-100 mt-step')