include ../../../components/titles/h2WithIcon
include ../../../components/UI/whiteButton

- var index = 1;

section
    .container
        +h2WithIcon('@img/links.svg', 'Полезные ссылки')
        .flex.flex-wrap.flex-j-c.d-gap
            while (index <= 10)
                a.link-block(href="#").relative
                    img(src=`@img/temporary/links-${index++}.png`, alt='link', loading='lazy').relative.priority
                    .swiper-lazy-preloader.animate
        +whiteButton('Смотреть все полезные ссылки', 'mt-step w-100', 'usefulLinks.html')