@import "../../assets/mixins"

$contentSize: 324
$collectiveTextResponse: 1440px
$collectiveFirstResponse: 800px
$collectiveSecondResponse: 600px

$contentOnMobileSize: 176

.collective__slider
  transition: .5s all
  position: relative
  font-size: 1rem

  @media screen and (max-width: $collectiveTextResponse)
    font-size: 1.111vw

  @media screen and (max-width: $collectiveSecondResponse)
    font-size: 1rem

  .swiper-wrapper
    padding-right: em($contentSize, 16)

.collectiveSlide
  border-radius: .5em
  overflow: hidden
  display: flex
  max-width: em(626 - $contentSize, 16)
  background: var(--greyBackground)
  transition: .5s all

  @media screen and (max-width: $collectiveSecondResponse)
    max-width: em(340 - $contentOnMobileSize, 16)

  &.move
    transform: translatex(-100%)

  &.active,
  &:hover
    max-width: em(602, 16)

    @media screen and (max-width: $collectiveSecondResponse)
      max-width: em(340, 16)

    &.move
      transform: translatex(-50%)


  &:not(:last-child)
    margin-right: em(22, 16)

    @media screen and (max-width: $collectiveSecondResponse)
      margin-right: em(12, 16)

  &__img
    flex: 0 0 em(302, 16)
    height: em(422, 16)
    border-radius: .5em
    overflow: hidden

    @media screen and (max-width: $collectiveSecondResponse)
      flex: 0 0 em(164, 16)
      height: em(229, 16)

    img
      width: 100%
      height: 100%
      object-fit: cover

  &__content
    padding: 2em
    min-width: em($contentSize, 16)
    width: em($contentSize, 16)
    display: flex
    flex-direction: column
    justify-content: center
    gap: em(15, 16)

    @media screen and (max-width: $collectiveFirstResponse)
      padding: em(17, 8.888) em(12, 8.888) em(17, 8.888) em(17, 8.888)
      gap: em(15, 8.888)

    @media screen and (max-width: $collectiveSecondResponse)
      min-width: em($contentOnMobileSize, 16)
      width: em($contentOnMobileSize, 16)
      gap: em(10, 16)
      padding: em(17, 16) em(12, 16) em(17, 16) em(17, 16)



  &__fio
    @include setFonts(24, var(--textColor), 1.6, -1)

    @media screen and (max-width: $collectiveFirstResponse)
      font-size: em(19.5, 8.888)

    @media screen and (max-width: $collectiveSecondResponse)
      font-size: 1em
      letter-spacing: em(-0.5, 16)

    span
      border-bottom: 2px solid var(--textColor)

  &__post
    @include useSecondFont(500)
    font-size: em(20, 16)
    line-height: 1.6
    letter-spacing: em(-0.2, 16)

    @media screen and (max-width: $collectiveFirstResponse)
      font-size: em(12, 8.888)

    @media screen and (max-width: $collectiveSecondResponse)
      font-size: em(12, 16)


  &__text
    font-size: em(14, 16)
    line-height: 1.6
    @include useSecondFont(400)
    letter-spacing: em(-0.2, 16)
    max-height: em(180, 14)
    overflow: hidden

    @media screen and (max-width: $collectiveSecondResponse)
      max-height: em(100, 16)

    @media screen and (max-width: $collectiveSecondResponse)
      font-size: .5em
      letter-spacing: em(-0.1, 16)

  &__link
    color: var(--linkColor)
    position: relative
    @include useSecondFont(500)
    line-height: 1.6
    letter-spacing: em(-0.2, 16)

    @media screen and (max-width: $collectiveFirstResponse)
      font-size: em(12, 8.888)

    @media screen and (max-width: $collectiveSecondResponse)
      font-size: em(12, 16)
      letter-spacing: em(-0.2, 16)

    span
      position: relative
      width: em(14, 16)
      height: em(14, 16)
      display: inline-block
      margin-right: .5em

      &:before, &:after
        content: ''
        background: var(--linkColor)
        border-radius: .5em
        position: absolute
        width: 100%
        height: em(3, 16)

      &:before
        left: 0
        top: 50%
        transform: translateY(-50%)

      &:after
        left: 50%
        top: 50%
        transform: translate(-50%, -50%) rotate(-90deg)
