@import "../../assets/mixins"
@import "../../assets/vars"

$featuresTextFirstResponseNumber: 1440
$featuresTextFirstResponse: $featuresTextFirstResponseNumber + px
$featuresFirstResponseNumber: 800
$featuresFirstResponse: $featuresFirstResponseNumber + px
$featuresSecondResponse: 690px

@mixin itemProperties($size)
  min-height: em(220, $size)
  padding: em(18, $size)

  @media screen and (max-width: $featuresFirstResponse)
    min-height: em(113, $size)
    padding: em(10, $size)

  @media screen and (max-width: $featuresSecondResponse)
    width: auto
    flex: 0 0 calc(50% - 24px)
    min-height: em(142, $size)
    padding: em(12, $size)


html.theme-visually-impaired
  .features

    &__item
      @include itemProperties($sizeForWeakEyes)

    @media screen and (max-width: $featuresTextFirstResponse)
      font-size: vw($sizeForWeakEyes, $featuresTextFirstResponseNumber)

    @media screen and (max-width: $featuresFirstResponse)
      font-size: vw($sizeForWeakEyes, $featuresFirstResponseNumber)

    @media screen and (max-width: $featuresSecondResponse)
      font-size: 1rem

    @media screen and (max-width: $mobile)
      font-size: .9rem




.features
  display: flex
  gap: 30px 24px
  font-size: 1rem
  justify-content: center
  flex-wrap: wrap

  @media screen and (max-width: $featuresTextFirstResponse)
    font-size: 1.1vw

  @media screen and (max-width: $featuresFirstResponse)
    font-size: 2vw

  @media screen and (max-width: $featuresSecondResponse)
    font-size: 1rem
    flex-wrap: wrap
    justify-content: center

  @media screen and (max-width: $mobile)
    gap: rem(30) rem(24)


  &__item
    flex: 0 0 calc(25% - 24px)
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    display: flex
    align-items: flex-end
    border-radius: .5em
    @include itemProperties(16)

  &__text
    background: rgba(255, 255, 255, 0.75)
    box-shadow: 0 0 em(60, 24) rgba(0, 0, 0, 0.05), 0 0 em(7.51293, 24) rgba(0, 0, 0, 0.1)
    border-radius: em(4, 24)
    font-size: em(24, 16)
    line-height: lh(31, 24)
    letter-spacing: em(-0.4, 24)
    font-weight: 700
    padding: em(8, 24) em(10, 24)
    box-sizing: content-box !important

    @media screen and (max-width: $featuresFirstResponse)
      font-size: em(12.3615, 16)
      line-height: lh(16, 12.3615)
      letter-spacing: em(-0.206, 12.3615)
      padding: em(4, 12.3615) em(5, 12.3615)

    @media screen and (max-width: $featuresSecondResponse)
      font-size: em(15.4926, 16)
      letter-spacing: em(-0.258, 16)
      padding: em(5, 16) em(8, 16)

