@import "../../assets/mixins"
@import "../../assets/vars"


$newsFirstResponse: 1150px
$newsSecondResponse: 600px

$newsReverseResponse: 450px
$newsLastPointNumber: 320
$newsLastPoint: $lastResponsePointNumber + px

html.theme-visually-impaired
  .news

    flex-direction: column

    &__item

      @media screen and (max-width: $newsLastPoint)
        font-size: vw($sizeForWeakEyes, $newsLastPointNumber)

    &__img

      @media screen and (max-width: 800px)
        max-width: 150px

      @media screen and (max-width: $mobile)
        max-width: 100px

    &__text
      @media screen and (max-width: $newsSecondResponse)
        font-size: em(20, $sizeForWeakEyes)




.news
  display: flex
  flex-wrap: wrap
  font-size: 1rem
  gap: em(24, 16)
  justify-content: center

  @media screen and (max-width: $newsFirstResponse)
    flex-direction: column
    gap: em(23, 16)

  &__item
    flex: 0 1 calc((100% - em(24, 16) ) / 2)
    display: flex
    transition: $defaultTransitionDuration all
    border-radius: em(15, 16)

    &:hover
      background: var(--greyBackground)

    @media screen and (max-width: $newsFirstResponse)
      flex: 0 0 auto

    @media screen and (max-width: $newsReverseResponse)
      flex-direction: column-reverse
      font-size: 16px

    @media screen and (max-width: $newsLastPoint)
      font-size: vw(16, $newsLastPointNumber)

  &__img
    margin-right: em(20, 16)
    flex: 0 0 em(279, 16)
    height: auto
    max-width: 280px

    @media screen and (max-width: $newsSecondResponse)
      flex: 0 0 em(140, 16)
      margin-right: em(13, 16)

    @media screen and (max-width: $newsReverseResponse)
      order: 1
      margin: 0 0 em(15, 16) 0
      flex: 0 0 auto
      max-width: none

      img
        width: 100%

    img
      border-radius: .5em

  &__text
    @include setFonts(18, var(--textColor), 1.4)
    margin-bottom: em(13, 18)

    @media screen and (max-width: $newsSecondResponse)
      font-size: 1em
      letter-spacing: em(-1, 16)