\:root

  --textColor: #212540
  --textHoverColor: #0074FF
  --h2Color: #141D2C
  --pColor: #323232

  --breadcrumbsColor: #141D2C

  --footerRestBlockColor: #141D2C
  --footerLinkColor: #0074FF

  --superGrey: #D9D9D9
  --lineBorderColor: #E5E8EC

  --greyBackground: #EFF1F8

  --liColor: #161717

  --staticBorderColor: #CCCFD5
  --hoverBorderColor: #9199B7

  --activeSelectBorderColor: #EFF1F8
  --checkedSelectItemBackground: #0074FF

  --arrowFill: #212540

  --disabledSwitchColor: #9199B7
  --switchColor: #0074FF

  --activeRadioColor: #0074FF
  --radioColor: #9199B7

  --activeCheckboxColor: #0074FF
  --checkboxColor: #E6E9F5

  --highlightingBorderColor: #0074FF
  --highlightingShadowColor: rgba(0, 116, 255, 0.2)

  --inputIconBackgroundColor: #EFF1F8
  --inputIconStrokeColor: #2F376D

  --labelColor: #2F376D

  --weakTextColor: #9199B7

  --dashedButtonBorderColor: rgba(0, 116, 255, 0.55)
  --dashedButtonTextColor: #0074FF
  --hoverDashedButtonTextColor: #3692FF

  --greyButtonBackground: #EFF1F8
  --hoverGreyButtonBackground: #E7E7EC
  --activeGreyButtonBackground: #B9BFD3

  --usualButtonBackground: #0074FF
  --hoverUsualButtonBackground: rgba(0, 116, 255, 0.55)
  --activeUsualButtonBackground: #212540

  --greyBannerBackground: #EFF1F8
  --blueBannerBackground: #0074FF

  --blueBannerSubtitleColor: #FFD2C0

  --groupColor: #373737
  --groupHoverBackground: #0074FF

  --linkColor: #0074FF
  --groupFileColor: #373737

  --videoHoverFilter: #0B1E64

  --tagsColor: #0074FF

  --galleryBorderColor: #E7E7EC

  --messageBackground: #CCE3FF

  --sidebarItemColor: #2F376D
  --sidebarActiveItemBackground: #0074FF

  --paginationColor: #212B36
  --paginationDisabledColor: #919EAB
  --paginationArrowColor: #C4CDD5

  --fileLinkBackground: #EFF1F8

  --colorScheduleTime: #9199B7
