@import "assets/reset"
@import "assets/fonts"

@import "themes/default"
@import "themes/visually-impaired"

@import "assets/vars"
@import "assets/functions"
@import "assets/mixins"
@import "assets/basic"

//libs
@import "lib/swiper"

// main modules
@import "modules/header"
@import "modules/footer"

// UI modules
@import "modules/UI/spoilers"
@import "modules/UI/select"
@import "modules/UI/switch"
@import "modules/UI/checkbox"
@import "modules/UI/radioBox"
@import "modules/UI/input"
@import "modules/UI/buttons"
@import "modules/UI/slideButtons"

// Parts
@import "modules/parts/defaultSlider"
@import "modules/parts/logo"
@import "modules/parts/banner"
@import "modules/parts/videoSign"
@import "modules/parts/smBanner"
@import "modules/parts/features"
@import "modules/parts/news"
@import "modules/parts/groups"
@import "modules/parts/collective"
@import "modules/parts/spoilers"
@import "modules/parts/ourVideos"
@import "modules/parts/galleryItem"
@import "modules/parts/achievements"
@import "modules/parts/flexBox"


html
  font-size: 16px
  font-family: Mont, sans-serif
  font-weight: 600
  color: var(--textColor)

  @media screen and (max-width: $mobile)
    font-size: 3.333vw

  &.theme-visually-impaired
    font-size: 18px

    @media screen and (max-width: $mobile)
      font-size: 3.75vw


body
  display: flex
  flex-direction: column
  font-size: 1rem


main
  margin: rem(24) 0 rem(60)

  @media screen and (max-width: $tablet)
    margin: rem(14) 0 rem(31)

.container
  max-width: 1440px
  padding: 0 25px
  margin: 0 auto
  @media screen and (max-width: $mobileResponse)
    padding: 0 15px


h1
  @include setFonts(48)


h2
  @include setFonts(36, var(--h2Color), 1.2)

  .icon
    width: em(40, 36)
    height: em(40, 36)
    margin-right: em(10, 36)
    display: inline-block
    vertical-align: middle


h3
  @include setFonts(24)


h4
  @include setFonts(18, var(--textColor), 1.5, -0.4)


p
  @include useSecondFont(500)
  line-height: 1.6
  letter-spacing: em(-0.2, 16)
  color: var(--pColor)


ol.list, ul.list
  line-height: lh(20, 16)
  color: var(--liColor)
  @include useSecondFont(400)


  li
    margin-bottom: em(15, 16)
    position: relative
    padding-left: em(48, 16)

    &:last-child
      margin-bottom: 0


ul.list

  li
    min-height: em(24, 16)

    &:before
      content: ''
      background: url("../img/arrow-right.svg") 0 0 / 100% 100% no-repeat
      @include useAbsolutePosition()
      width: em(24, 16)
      height: em(24, 16)


ol.list
  counter-reset: numberItem

  li
    counter-increment: numberItem
    list-style: none

    &:before
      content: counter(numberItem)
      @include useAbsolutePosition(em(8, 16))
      font-weight: 700


.label
  @include useTextSecondFont()
  color: var(--labelColor)


.weakText
  @include useTextSecondFont()
  color: var(--weakTextColor)


.tinyText
  color: var(--weakTextColor)
  @include useSecondFont(500)
  font-size: em(12, 16)
  line-height: 1.8
  letter-spacing: em(-0.2, 16)

.smallTitle
  @include setFonts(14, var(--textColor), 1.3, -0.4, 800)


.mt-step
  margin-top: $step

.mb-step
  margin-bottom: $step

.mb-halfStep
  margin-bottom: $halfStep

.mt-halfStep
  margin-top: $halfStep

.pad-step
  padding: rem(30)

  &.to-half-on-mobile
    @media screen and (max-width: $mobile)
      padding: rem(15)

.pad-half-step
  padding: $halfStep

.d-gap
  gap: em(30, 16) em(24, 16)

  @media screen and (max-width: $mobile)
    gap: em(30, 16) em(15, 16)

.arrow-icon
  width: 1em
  height: .85em
  transition: $defaultTransitionDuration all

.border-radius
  border-radius: rem(15)

svg
  fill: var(--textColor)


.w-100
  width: 100%


.theme-switcher
  cursor: pointer
  display: flex
  align-items: center

  .eyeIcon
    fill: var(--weakTextColor)
    width: em(20, 12)
    height: em(18, 12)
    margin-right: em(6, 12)
    display: inline-block


.link
  @include setFonts(14, var(--textColor), 1.3, -0.4)
  transition: $defaultTransitionDuration color

  &:hover
    color: var(--textHoverColor)


.pairWords
  display: flex

  .weakText
    font-size: em(10, 16)

    &:not(:last-child)
      &:after
        content: ''
        width: .5em
        height: .5em
        border-radius: 50%
        background: var(--superGrey)
        display: inline-block
        margin: 0 .5em
        vertical-align: middle


section

  &:not(:last-child)
    margin-bottom: rem(60)

    @media screen and (max-width: $tablet)
      margin-bottom: rem(24)

.word-on-new-line
  word-spacing: 100vw

.grey
  color: var(--weakTextColor)

.grey-background
  background: var(--greyBackground)

.tags
  @include useSecondFont(500)
  font-size: em(10, 16)
  line-height: 1.8
  color: var(--tagsColor)
  letter-spacing: em(-0.205, 10)

  span
    color: var(--textColor)


.link-block
  display: block
  width: em(250, 16)
  height: em(90, 16)
  position: relative

  @media screen and (max-width: $tablet)
    font-size: 2vw
    width: em(220, 16)
    height: em(84, 16)

  @media screen and (max-width: 550px)
    width: em(205, 16)
    height: em(78, 16)
    font-size: 1rem

  img
    width: auto
    height: auto
    @include useAbsolutePosition(50%, 50%)
    transform: translate(-50%, -50%)