mixin contactBlock(className)
    .contactBlock(class= className)
        .contactBlock__container
            .contactBlock__title
                img.contactBlock__icon(src="@img/calendar.svg", alt='calendar icon')
                | График приема
            ul.contactBlock__list
                li.contactBlock__item Вторник: 8:00 - 11:00
                li.contactBlock__item Среда 16:00 - 19:00

            .contactBlock__title
                img.contactBlock__icon(src="@img/phone.svg", alt='phone icon')
                | Контакты
            ul.contactBlock__list
                li.contactBlock__item +7 (3532) 43-20-73

            .contactBlock__title
                img.contactBlock__icon(src="@img/map.svg", alt='map icon')
                | Адрес
            ul.contactBlock__list
                li.contactBlock__item г. Оренбург, ул.Чкалова, 43/1
