mixin socials(className)
    .socials(class= className ? className : '')
        a.socials__item(href="https://vk.com" target='blank')
            img(src="@img/vk.svg" alt='Вконтакте')
        a.socials__item(href="https://ok.ru" target="blank")
            img(src="@img/ok.svg" alt='Одноклассники')
        a.socials__item(href="https://telegram.org" target="blank")
            img(src="@img/telegram.svg" alt='Телеграм')