extends layouts/template

include components/UI/switch
include components/UI/input
include components/UI/usualButton
include components/UI/textarea
include components/breadcrumbs

block variables
    - var pageTitle = 'Обратная связь'

block breadcrumbs
    +breadcrumbs([{text: 'Обратная связь'}], 'Обратная связь')

block content
    section
        .container
            p Но чтобы вы поняли, откуда возникает это превратное представление людей, порицающих наслаждение и восхваляющих страдания, я раскрою перед вами всю картину и разъясню, что именно говорил этот человек, открывший истину, которого я бы назвал зодчим счастливой жизни. Действительно, никто не отвергает, не презирает, не избегает наслаждений только из-за того, что это наслаждения, но лишь из-за того, что тех, кто не умеет разумно предаваться наслаждениям, постигают великие страдания. Равно как нет никого, кто возлюбил бы, предпочел и возжаждал бы само страдание только за то, что это страдание, а не потому, что иной раз возникают такие обстоятельства, когда страдания и боль приносят некое и немалое наслаждение. Если воспользоваться простейшим примером, то кто из нас стал бы заниматься какими бы то ни было тягостными физическими упражнениями, если бы это не приносило с собой некоей пользы? И кто мог бы по справедливости упрекнуть стремящегося к наслаждению, которое не несло бы с собой никаких неприятностей, или того, кто избегал бы такого страдания, которое не приносило бы с собой никакого наслаждения?
            form.pad-step.flex.flex-column.dh-gap.grey-background.border-radius.defaultForm.mt-step.ml-auto.mr-auto
                h3 Отправить сообщение
                div
                    +input('Ваш email *', 'email', '', 'text', true)
                div
                    +input('Ваш телефон *', 'tel', '', 'text', true, 'tel')
                div
                    +textarea('Текст сообщения', 'message')
                div
                    div.message.flex.flex-a-c
                        +switch()
                        .message-text Нажимая кнопку отправить, Вы даете согласие на обработку Ваших персональных данных в соответствии с Политикой
                    +usualButton('Отправить', 'w-100 mt-halfStep')