extends layouts/template

block variables
    - var pageTitle = 'Главная'

block content
    include layouts/modules/parts/bigBannerGrey
    include layouts/modules/parts/bigBannerBlue
    include layouts/modules/parts/smallBanner
    include layouts/modules/parts/features
    include layouts/modules/parts/news
    include layouts/modules/parts/groups
    include layouts/modules/parts/collective
    include layouts/modules/parts/spoilers

