extends layouts/template

block variables
    - var pageTitle = 'test'


block content
    ol
        li Пункт номерного списка
        li Пункт номерного списка
        li Пункт номерного списка
        li Пункт номерного списка
        li Пункт номерного списка

