extends layouts/template
include components/UI/select
include components/UI/switch
include components/UI/radio
include components/UI/checkbox
include components/UI/input
include components/UI/dashedButton
include components/UI/greyButton
include components/UI/usualButton
include components/UI/whiteButton
include components/UI/textarea

block variables
    - var pageTitle = 'UI'
    - var options = [{id: 'select1', value: 'Option'}, {id: 'select2', value: 'Option 2'}, {id: 'select3', value: 'Option 3'}, {id: 'select4', value: 'Option 4'}, {id: 'select5', value: 'Option 5'}, {id: 'select6', value: 'Option 6'}, {id: 'select7', value: 'Option 7'}]


block content
    .container
        div(style='max-width: 432px')

            .smallTitle.mt-step Select
            +select(options, 'select', 'mt-step')

            .smallTitle.mt-step Switches (checkboxes)
            +switch('switch1', 'switch1', 'mt-step')
            +switch('switch1', 'switch1', 'mt-step')

            .smallTitle.mt-step Radio-buttons
            div.mt-step
                +radio('Checked', 'radio1', 'value 1')
            div.mt-step
                +radio('Unchecked', 'radio1', 'value 2')

            .smallTitle.mt-step Checkboxes
            div.mt-step
                +checkbox('Checked', 'checkbox1', 'value 1')
            div.mt-step
                +checkbox('Unchecked', 'checkbox1', 'value 2')

            .smallTitle.mt-step Inputs
            div.mt-step
                +input('E-mail', 'input')

            .smallTitle.mt-step Textarea
            div.mt-step
                +textarea('Description', 'textarea')

            .smallTitle.mt-step Inputs password + icon
            div.mt-step
                +input('Пароль', 'input-p', '', 'password')

            .smallTitle.mt-step Button 1
            div.mt-step
                +dashedButton('Button', 'w-100')

            .smallTitle.mt-step Button 2
            div.mt-step
                +greyButton('Button', 'w-100')

            .smallTitle.mt-step Button 3
            div.mt-step
                +usualButton('Button', 'w-100')

            .smallTitle.mt-step Button 4
            div.mt-step
                +usualButton('Button', 'w-100 bigButton')

        .smallTitle.mt-step Button 5
        div.mt-step
            +whiteButton('Смотреть все новости', 'w-100')