- var logoResize = false

footer
    .container
        .footer
            .footer__content
                .footer__block.footer__contacts
                    include ../parts/logo
                    div.footer__links
                        a.footer__link(href="#") г. Оренбург, ул. Чкалова, 43/1
                        a.footer__link(href="tel:12345678") +7 (3532) 43-20-73
                        a.footer__link(href='mailto:detskiisad73@yandex.ru') detskiisad73@yandex.ru
                    .footer__socials
                        a.footer__social(href="https://vk.com" target="blank").footer__social--vk
                            svg
                                use(href="@img/icons/icons.svg#vk")
                        a.footer__social(href="https://telegram.org" target="blank").footer__social--telegram
                            svg
                                use(href="@img/icons/icons.svg#telegram")
                        a.footer__social(href="https://ok.ru" target="blank").footer__social--ok
                            svg
                                use(href="@img/icons/icons.svg#ok")
                .footer__block
                    .footer__title
                        | Главная
                        svg.icon
                            use(href="@img/icons/icons.svg#arrow-select")
                    ul.footer__list
                        li
                            a.link(href="information.html") Сведения об образовательной организации
                        li
                            a.link(href="news.html") Новости
                        li
                            a.link(href="ourGroups.html") Группы
                        li
                            a.link(href="collective.html") Коллектив
                        li
                            a.link(href="contacts.html") Контакты
                        li
                            a.link(href="#") Политика обработки персональных данных
                .footer__block
                    .footer__title
                        | Родителям
                        svg.icon
                            use(href="@img/icons/icons.svg#arrow-select")
                    ul.footer__list
                        li
                            a.link(href="order.html") Порядок приема в детсад
                        li
                            a.link(href="compensation.html") Компенсация оплаты за сад
                        li
                            a.link(href="#") Время приема заведующего
                        li
                            a.link(href="blanks.html") Бланки заявлений
                        li
                            a.link(href="questions.html") Частые вопросы
                        li
                            a.link(href="advices.html") Советы специалистов
                        li
                            a.link(href="schools.html") Школы рядом с садиком
                .footer__block
                    .footer__title
                        | O нас
                        svg.icon
                            use(href="@img/icons/icons.svg#arrow-select")
                    ul.footer__list
                        li
                            a.link(href="about.html") История детского сада
                        li
                            a.link(href="achievements.html") Достижения
                        li
                            a.link(href="ourVideos.html") Видеогалерея
                        li
                            a.link(href="galleries.html") Фотогалерея
                        li
                            a.link(href="requisites.html") Реквизиты
                        li
                            a.link(href="#") Вакансии
            .footer__rest
                .footer__restBlock
                    .footer__restItem © 2023 МДОАУ  "Детский сад №73".  Все права защищены
                    .footer__restItem
                        a(href="#") Политика конфиденциальности
                    .footer__restItem
                        a(href="map.html") Карта сайта
                .footer__restBlock.footer__restBlock--developer
                    | Сайт разработан в
                    a(href="#" target="blank").footer__developerLogo
                        img(src="@img/logo-developer.png" alt='developer logo')
