include ../../../components/UI/usualButton

- var logoResize = true;

header
    .container
        .header
            .header__rest
                a.weakText(href="information.html") Сведения об образовательной организации
                .weakText.theme-switcher#theme-switcher.bvi-open
                    svg.eyeIcon
                        use(href="@img/icons/icons.svg#eyeWeakVision")
                    | Версия для слабовидящих
            .header__content
                .header__mainBlock
                    include ../parts/logo
                    nav.header__menu
                        ul
                            li
                                a.link(href="/") Главная
                            li
                                a.link(href="news.html") Новости
                            li
                                a.link(href="ourGroups.html") Группы
                            li
                                a.link(href="order.html") Родителям
                            li
                                a.link(href="about.html") О нас
                            li
                                a.link(href="#") Контакты
                        .header__burgerWrapper#burger
                            .header__burgerMenu
                                .header__burger
                                    span
                                div.link Меню
                            ul.header__burgerList
                .header__contacts
                    .header__telContainer
                        a.header__tel(href='tel:12345678') +7 (3532) 43-20-73
                        .pairWords.flex-j-fe
                            .weakText Пн-Пт
                            .weakText 07:00 – 19:00
                    .header__socials
                        a.header__social(href="https://vk.com" target='blank')
                            img(src="@img/vk.svg" alt='Вконтакте')
                        a.header__social(href="https://ok.ru" target="blank")
                            img(src="@img/ok.svg" alt='Одноклассники')
                        a.header__social(href="https://telegram.org" target="blank")
                            img(src="@img/telegram.svg" alt='Телеграм')
                    +usualButton('Обратная связь', '', 'feedback.html')
    block breadcrumbs