block variables

<!DOCTYPE html>
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title= pageTitle
        link(rel='icon' href='favicon.svg')
        link(rel='stylesheet' href='styles/bvi.css')
        link(rel='stylesheet' href='styles/main.css')
    body
        include modules/main/header
        main
            block content
        include modules/main/footer
        script(src="https://www.youtube.com/player_api")
        script(src="scripts/bvi.min.js")
        script(src="scripts/main.min.js")
