block variables

<!DOCTYPE html>
html(lang='en')
    head
        meta(charset='UTF-8')
        title= pageTitle
        link(rel='stylesheet' href='styles/main.min.css')
    body
        include modules/header
        main
            .container
                block content
        include modules/footer