mixin dashedButton(text, className, ref)
    if (ref)
        a.button-ref(href= ref)
            button.button.button--dashed(class= className)= text
    else
        button.button.button--dashed(class= className)= text
