mixin greyButton(text, className, ref)
    if (ref)
        a.button-ref(href= ref)
            button.button.button--grey(class= className)= text
    else
        button.button.button--grey(class= className)= text
