mixin slideButtons()
    .slide-button-container.slide-button-container-next
        .slide-button-next.slide-button
            img(src="@img/slide-arrow.svg")
    .slide-button-container.slide-button-container-prev
        .slide-button-prev.slide-button
            img(src="@img/slide-arrow.svg")
