mixin textarea(placeholder, name, id = false)
    div.inputLabel
        label(for= (id ? id : false)).label= placeholder
    div.input
        textarea(placeholder= placeholder, name= name, id= (id ? id : false))