mixin usualButton(text, className, ref, img = true, reverse = false)

    if(img && reverse)
        if (ref)
            a.button.button--usual(href= ref, class= className)
                svg.icon.reverse
                    use(href="@img/icons/icons.svg#arrow-button")
                = text
        else
            button.button.button--usual(class= className)
                svg.icon.reverse
                    use(href="@img/icons/icons.svg#arrow-button")
                = text

    else if(img && !reverse)

        if (ref)
            a.button.button--usual(href= ref, class= className)= text
                    svg.icon
                        use(href="@img/icons/icons.svg#arrow-button")
        else
            button.button.button--usual(class= className)= text
                svg.icon
                    use(href="@img/icons/icons.svg#arrow-button")

    else

        if (ref)
            a.button.button--usual(href= ref, class= className)= text
        else
            button.button.button--usual(class= className)= text
