mixin whiteButton(text, className, ref, img = true, reverse = false)

    if(img && reverse)

        if (ref)
            a.button-ref(href= ref)
                button.button.button--white(class= className)
                    svg.icon.reverse
                        use(href="@img/icons/icons.svg#arrow-button")
                    = text
        else
            button.button.button--white(class= className)
                svg.icon.reverse
                    use(href="@img/icons/icons.svg#arrow-button")
                = text

    else if(img && !reverse)

        if (ref)
            a.button-ref(href= ref)
                button.button.button--white(class= className)= text
                    svg.icon
                        use(href="@img/icons/icons.svg#arrow-button")
        else
            button.button.button--white(class= className)= text
                svg.icon
                    use(href="@img/icons/icons.svg#arrow-button")

    else

        if (ref)
            a.button-ref(href= ref)
                button.button.button--white(class= className)= text
        else
            button.button.button--white(class= className)= text

